#map{
    height: 400px;
    width: 100%;
}
.header{
    background: rgba(0, 0, 0, 0.911);
    color: white;
    padding: 15px;
    font-size: 16px;
}
.pageTitle{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.logout_option{
    float:right;
    cursor:pointer;
}