<section>
    <div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <img>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>Event details</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <p>Like details</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>Rsvp details</p>
            </div>
        </div>
        <div class="row">
            <p>location details</p>
        </div>
    </div>
</section>