<section class="header row">
    <div class="col-xs-2 col-sm-4">
    </div>
    <div class="pageTitle col-xs-6 col-sm-4">
        <span>Event Details</span>
    </div>
    <!-- <div class="col-xs-4 col-sm-4">
        <span class="logout_option" (click)="logout()">Logout</span>
    </div> -->
</section>

<section>

    <div>
        <div class="row shadow" style="border:1px solid darkgrey;padding:10px;margin:10px">
            <div class="col-xs-12 col-sm-6">
                    <span class="title" >Event Image</span>
                    <br>
                <img *ngIf="event" [src]="event.image" style=" width: 100%;
                max-width: 250px;max-height: 200;margin:0 auto;display:block">
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="row">
                    <div class="col-xs-6">
                        <span class="title">Event Details</span>
                    </div>
                    <div class="col-xs-6" *ngIf="event && !enableEdit && event.editable">
                        <button (click)="editEvent()" class="btn btn-primary btn-sm">Edit</button>
                    </div>
                </div>
                <br>
                <table *ngIf="!enableEdit" class="text-caps">
                    <tbody *ngIf="event">
                        <tr>
                            <td class="label_color">Event Name</td>
                            <td>:</td>
                            <td>{{event.eventName}}</td>
                        </tr>
                        <tr>
                            <td class="label_color">Created By</td>
                            <td>:</td>
                            <td>{{event.creatorDetails.userName}}</td>
                        </tr>
                        <tr>
                            <td class="label_color">Creator Email</td>
                            <td>:</td>
                            <td>{{event.creatorDetails.userEmail}}</td>
                        </tr>
                        <tr>
                            <td class="label_color">Created at</td>
                            <td>:</td>
                            <td>{{event.createdDate}}</td>
                        </tr>
                        <tr>
                            <td class="label_color">Event Date</td>
                            <td>:</td>
                            <td>{{event.eventDate}}</td>
                        </tr>
                        <tr>
                            <td class="label_color">Event Location</td>
                            <td>:</td>
                            <td>{{event.location}}</td>
                        </tr>
                        <tr>
                            <td class="label_color">Description</td>
                            <td>:</td>
                            <td>{{event.description}}</td>
                        </tr>
                        <tr>
                            <td class="label_color">Category</td>
                            <td>:</td>
                            <td *ngIf="event && event.categoryId">
                                <span *ngFor="let category of event.categoryId" class="alignments" title={{category.itemName}}>{{category.id}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="label_color">Last Updated</td>
                            <td>:</td>
                            <td>{{event.updated}}</td>
                        </tr>

                    </tbody>
                </table>

                <div [hidden]="!enableEdit" class="col-xs-12 ">
                    <form class="form-horizontal" action="/action_page.php">
                        <div class="form-group">
                            <span class=" col-md-2 update_label">Title:</span>
                            <div class="col-md-10">
                                <input type="text" class="form-control" [(ngModel)]="updateEventTitle" name="title" placeholder="Event title">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-2 update_label">Category:</span>
                            <div class="col-md-10">

                                <angular2-multiselect [data]="dropdownList" name="category" [(ngModel)]="updateEventCategory" [settings]="dropdownSettings"></angular2-multiselect>
                            </div>
                        </div>
                        <div class="form-group">
                            <span class=" col-md-2 update_label">Location:</span>
                            <div class="col-md-10">
                                <input type="text" id="searchTextField" class="form-control" [(ngModel)]="updateEventLocation" placeholder="Event location"
                                    name="location">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-2 update_label">Date&nbsp;Time:</span>

                            <div class="col-md-5">
                                <input class="datePicker" type="datetime-local" name="bdaytime" [(ngModel)]="updateEventDate">
                            </div>
                            <div class="col-md-5" style="margin-top:5px">
                                <span>({{updateEventDate | date:'dd-MM-yyyy HH:mm:ss'}})</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-2 update_label">Description:</span>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="5" placeholder="Enter description" [(ngModel)]="updateEventDesc" name="desc"></textarea>
                            </div>
                        </div>
                    </form>
                    <button class="float_right btn btn-primary btn-sm" (click)="updateEvent()">Update Event</button>
                    <button class="float_right btn btn-primary btn-sm" (click)="enableEdit = !enableEdit" style="margin: 0px 10px;">Cancel</button>
                </div>

            </div>


        </div>
        <div class="row shadow" style="border:1px solid darkgrey;padding:10px;margin:10px">
            <div class="col-xs-12 col-sm-6">
                <span class="title">Liked User Details</span>

                <div *ngIf="event && !event.likes" class="warning_text">
                    <span>No User Liked yet</span>
                </div>

                <div *ngIf="event && event.likes" class="table-responsive details_table">

                    <table class="table table-bordered">
                        <tr>
                            <th>S.No</th>
                            <th>User Name</th>
                            <th>User Email</th>
                        </tr>
                        <tbody>
                            <tr *ngFor="let like of event.likes; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{like.userName}}</td>
                                <td>{{like.userEmail}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <span class="title">Rsvp User Details</span>
                <div *ngIf="event && !event.rsvp" class="warning_text">
                    <span>No User Rsvp yet</span>
                </div>
                <div *ngIf="event && event.rsvp" class="table-responsive details_table">
                    <table class="table table-bordered">
                        <tr>
                            <th>S.No</th>
                            <th>User Name</th>
                            <th>User Email</th>
                        </tr>
                        <tbody>
                            <tr *ngFor="let like of event.rsvp; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{like.userName}}</td>
                                <td>{{like.userEmail}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row shadow" style="border:1px solid darkgrey;padding:10px;margin:10px">
            <span class="title">Location Details</span>
            <div class="col-xs-12 col-sm-6">
                <span class="label_color">Total Distance</span>:
                <span id="distance"></span>
                (<span id="miles"></span>)
            </div>
            <div class="col-xs-12 col-sm-6">
                <span class="label_color">Total Time</span>:
                <span id="time"></span>
            </div>
            <br>
            <div class="col-xs-12" id="map"></div>
            <br>
            <div class="col-xs-12">
                <span class="label_color">Note :</span>
                <span id="data"></span>
            </div>
    </div>
    </div>
</section>