.sidebar_content{
    background: #292929;
    color: white;
    border: 1px solid black;
    /* position: fixed; */
    height: calc(100vh - 55px);
    padding: 0px;
    /* max-width: 220px; */
}

.sidebar_content div{
    font-size: 16px;
    padding: 15px 20px;
    cursor: pointer;
}

.header{
    background: rgba(0, 0, 0, 0.911);
    color: white;
    padding: 15px;
    font-size: 16px;
}
.pageTitle{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.font_awesome{
  float: right;
  margin-right:15px;
}

.sidebar_content div:hover{
    background: #1B1919;
}
.highlight{
    background: #151414;
}

.logout_option{
    float:right;
    cursor:pointer;
}

.scrolling_content{
    height: 90vh;
    overflow-y: scroll;
    padding: 15px 10px;
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #292929;
    color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    max-width: 220px;
}

.sidenav div{
    font-size: 16px;
    padding: 15px 20px;
    cursor: pointer;
}

.sidenav a {
   
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}



.sidenav .closebtn {
    position: absolute;
    top: 15px;
    color: white;
    right: 25px;
    font-size: 20px;
}