.page{
    width: 100%;
    height: 100vh;
    display: table;
    background: rgb(251, 251, 251);
}
.signup{
    display: table-cell;
    vertical-align: middle;
}
.signup_box{
    border: 1px solid #ccc;
    padding: 10px 15px;
    border-radius: 4px;
    background: white;
}
.header{
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
}
.warning{
    color: red;
    margin: 0 auto;
    display: block;
    text-align: center;
}