<section class="page">
    <div class="row signup">
        <div class="col-xs-12 col-sm-3 col-md-4"></div>
        <div class="col-xs-12 col-sm-6 col-md-4 signup_box">
            <div class="header">Sign Up</div>
            <p class="warning">{{errorData}}</p>
            <div class="form-group">
                <label for="name">User name:</label>
                <input type="text" class="form-control" [(ngModel)]="userName" name="username">
            </div>

            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" [(ngModel)]="email" name="email">
            </div>

            <div class="form-group">
                <label for="userType">User Type:</label>
                <select class="form-control" [(ngModel)]="userType" name="usertype">
                  <option value="normal">Normal</option>
                  <option value="creator">Creator</option>
                </select>
              </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" [(ngModel)]="password" name="password">
            </div>

            <div class="form-group">
                <label for="confirm password">Confirm Password:</label>
                <input type="password" class="form-control" [(ngModel)]="confirmPassword" name="conform_password">
            </div>

            <div class="form-group">
                <label for="mobile">Phone Number:</label>
                <input type="number" class="form-control" min="1" max="9999999999" [(ngModel)]="phoneNumber" name="mobile">
            </div>

            <div class="form-group">
                <label for="zip">Zip Code:</label>
                <input type="text" class="form-control" [(ngModel)]="zipCode" name="zip">
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary btn-sm" (click)="signUp()">Sign Up</button>
                <button style="float:right" type="button" class="btn btn-link" (click)="backToLogin()">Login</button>

            </div>

        </div>

    </div>
</section>

<!-- <input type="file" ng2FileSelect [uploader]="uploader" accept="image/*;capture=camera">

<button (click)="upload()">Upload</button>

<cl-image [public-id]="imageId" [cloud-name]="uploader.cloudName"></cl-image> -->